extends head

block content
  div.wrapper
    each item in videos
      div.list
        div.listshow
          img(src="../files/"+item.image height="100%" width="100%")
        div.listtip
          div.movedes #{item.describe}
          a.play(href="/play/"+item.id) 开始学习
