a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.head {
  width: 100px; }

.head {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(41, 51, 60, 0.32);
  background-color: #415043; }
  .head .logo {
    flex: 0 0 300px;
    padding: 10px 20px; }
    .head .logo span {
      height: 50px;
      line-height: 50px;
      margin-left: 10px;
      vertical-align: top;
      font-size: 35px;
      color: #cbc677; }
  .head .user {
    flex: 0 0 200px;
    padding: 10px 0; }
    .head .user span {
      font-size: 14px;
      margin: 0 10px; }
      .head .user span a {
        color: yellow; }
    .head .user .head-img {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden; }
      .head .user .head-img img {
        height: 100%;
        width: 100%; }
