@import './reset.scss';

.head {
  display: flex;
  justify-content:space-between;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(41, 51, 60, 0.32);
  background-color: rgb(65, 80, 67);
  .logo {
    flex:0 0 300px;
    padding:10px 20px;
    span{
      height: 50px;
      line-height: 50px;
      margin-left:10px;
      vertical-align:top;
      font-size: 35px;
      color:rgb(203, 198, 119);
    }
  }
  .user{
    flex: 0 0 200px;
    padding:10px 0;
    span{
      font-size:14px;
      margin: 0 10px;
      a{
        color:yellow;
      }
    }
    .head-img{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius:50%;
      overflow: hidden;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}
