.title {
  font-size: 24px;
  margin: 10px 20px; }

.list-wrapper {
  margin: 50px 100px; }

ul {
  list-style-type: decimal-leading-zero; }
  ul li {
    border-bottom: 1px solid black;
    width: 800px;
    margin: 7px; }
  ul span {
    width: 100px;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px; }
    ul span a {
      text-decoration: none; }
